.vscode
.pytest_cache
__pycache__
*.pyc
.tox
.coverage
.venv
.DS_Store
*.dmg
*-checksum.txt

# Benchmark temporary files (see benchmarks/Makefile)
benchmarks/img/.originals/
benchmarks/img/*-crunch.png